import * as React from "react";

import styles from "./{{pascalCase name}}.module.scss";

const {{pascalCase name}}: React.FC = () => <div className={styles.container}>{`<{{pascalCase name}} />`}</div>;

export default {{pascalCase name}};
